<div class="text-center">
  Slackの絵文字で文字作る奴
</div>

<div class="text-center">
  使い方：http://your-domain/ここに生成する文字列?front=文字に使う絵文字&back=背景に使う絵文字
</div>

<div>
  <ul>
    <li>TODO</li>
    <li>いろいろ</li>
  </ul>
</div>
